
:root{
    --PrimaryColorAdminDashboard: rgba(12, 26, 50, 1);
    --SecondaryColorAdminDashboard: rgba(18, 33, 60, 1);
    --HoverCoverAdminDashboard: rgba(82, 106, 148, 1);
    --whiteColorAdminDashboard: hsl(0, 0%, 100%);
    --blackColorAdminDashboard: hsl(0, 0%, 18%);
    --textColorAdminDashboard: hsl(240, 2%, 75%);
    --bgColorAdminDashboard: hsl(220, 10%, 94%);
    --greyTextAdminDashboard: rgb(190, 190, 190);
    --inputColorAdminDashboard: hsl(330, 12%, 97%);

      /* Font ang Typography */
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
}

.AdminnavBar{
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--PrimaryColorAdminDashboard);

    .logo-container{
        height: 80px;
        padding: 1.3rem 1rem 0;
        
        .toggleAdminNav{
            width: 100%;
            padding: .5rem;

            .admin-icon{
                font-size: larger;
                color: var(--whiteColorAdminDashboard);
            }
        }
        
        .closeAdminNavbar{
            display: none;
        }

        .logImgAndText{
            cursor: pointer;
            a{
                padding:  0rem 1.8rem;
                gap: .2rem;
                .admin-dashboard-logo{
                    width: 20%;
                }
                h2{
                    color: var(--whiteColorAdminDashboard);
                }

            }


        }

    }

    .navbar-body{
        .admin-nav-group{
            .admin-nav-title{
                color: var(--textColorAdminDashboard);
                padding: 20px 25px;
                font-size: 12px;
                font-family: 'IBM Plex Sans', sans-serif;
                font-weight: 400;
                opacity: 0.5;
            }
        }

        .admin-nav-select-item{
            .admin-listItem{
                padding: .85rem 1.85rem;
                width: 100%;
                position: relative;

                    button{
                        border: none;
                        outline: none;
                        background: none;
                        padding: 10px 0px;
    
                        .admin-icon{
                            color: var(--textColorAdminDashboard);
                            width: 24px;
                            height: 24px;
                            margin-right: .5rem;
                        }
    
                        span{
                            color: var(--textColorAdminDashboard);
                            font-size: 13px;
                            font-weight: 500;
                        }
                        :hover{
                            color: var(--whiteColorAdminDashboard);
                        }
                    }
                
                
            }
        }
    }
}

.activeAdminNavbar{
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 2rem;

    .logo-container{
        height: 80px;
        padding: 1rem 1rem 0;
        
        .closeAdminNavbar{
            width: 100%;
            padding: .5rem;

            .admin-icon{
                font-size: larger;
            }
        }
        .toggleAdminNav{
            display: none;
        }

        .logImgAndText{
            display: none;
        }

    }
}


















