
.main-adminfooter{
    width: 100%;
    position: relative;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 2px solid black;
    .container-group{
        border: 2px solid orange;
    }

}