:root {
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 240);
    --cardBG: rgb(225, 225, 225);
}


.createPostPage{
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    margin: auto;

    .cpContainer{
        width: 100%;
        height: max-content;
        padding: 6rem 10rem 20rem;
        display: flex;
        row-gap: 3rem;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        margin: auto;
        color: var(--textColor);
        background: var(--whiteColorDeam);


        .sec-title-form{
            width: auto;
            height: auto;
            font-size: 25px;
        }

        .inputGp{
            height: 100%;
            display: grid;
            row-gap: 10px;
            border-radius: 10px;
            align-items: center;
            background: var(--cardBG);
            box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
            overflow: hidden;
        
          
                .input-item{
                    width: auto;
                    height: auto;
                    margin: 1rem; 

                    :focus {
                        color: none;
                        border: 3px solid #555 !important;
                      }
                    

                    .third-title-form{
                        width: auto;
                        height: auto;
                        margin: 0, 1rem;
                    }
                    
                    input{
                        width: 70%;
                        padding: .5rem;
                        margin: .5rem;
                        border-radius: 1rem;
                        background: var(--inputColor);
                        font-size: 15px;
                        box-sizing: border-box;
                        border: 3px solid #ccc;
                        outline: none;

                    }
        
                    select{
                        width: 70%;
                        padding: .5rem;
                        margin: .5rem;
                        border-radius: 1rem;
                        background: var(--inputColor);
                        font-size: 15px;
                        box-sizing: border-box;
                        border: 3px solid #ccc;
                        outline: none;
                    }

                    .form-note{
                        width: 70%;
                        padding: 5px;
                        margin: .5rem;
                        background: var(--inputColor);
                        border-radius: 1rem;
                        font-size: 15px;
                        resize: none;
                        box-sizing: border-box;
                        border: 3px solid #ccc;
                        outline: none;
                    }
                   
                }
        }


        .btn-submit{
            width: fit-content;
            height: auto;
            .btn{
                margin: 5px;
                color: var(--whiteColorDeam);
                font-size: 14px;
                font-weight: 500;
                padding: 12px 30px;
            }
        }

            
            


    }
}