:root {
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 240);
    --cardBG: rgb(225, 225, 225);
}


.createPostPage{
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    margin: auto;

    .cpContainer{
        width: 100%;
        height: max-content;
        padding: 6rem 10rem 20rem;
        display: flex;
        row-gap: 3rem;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        margin: auto;
        color: var(--textColor);
        z-index: 1;
        background: var(--whiteColorDeam);


        .sec-title-form{
            width: auto;
            height: auto;
            font-size: 30px;
        }

        .inputGp{
            width: fit-content;
            margin: auto;
            padding: 1.5rem;
            background: var(--whiteColor);
            border-radius: 1rem;
            justify-items: center;



                .line-break{
                    width: auto;
                    height: 30rem;
                    padding: none;
                    margin-right: 5rem;
                    border-right: 2px solid black;
                }
          
                .input-item{


                    .third-title-form{
                        width: auto;
                        height: auto;
                        margin: 1rem;
        
                    }
                    
                    input{
                        width: 70%;
                        padding: .5rem;
                        margin: .5rem;
                        border-radius: 1rem;
                        background: var(--inputColor);
                        font-size: 16px;
                    }
        
                    .form-note{
                        width: 70%;
                        padding: 5px;
                        margin: .5rem;
                        background: var(--inputColor);
                        border-radius: 1rem;
                        font-size: 16px;
                        resize: none;
                        
                    }
                   
                }
        }


        .btn-submit{
            width: fit-content;
            height: auto;
            .btn{
                margin: 5px;
                color: var(--whiteColorDeam);
                font-size: 14px;
                font-weight: 500;
                padding: 12px 30px;
            }
        }

            
            


    }
}