.admin-contain{
    margin-left: 5rem !important;
    margin-top: 3rem !important;
}

.text-center{
  margin-bottom: 1rem;
}

.form-group{

    .form-control{
        width: auto;
        height: 40px;
        display: flex;
        align-items: center; 
        margin: .4rem;
        border-radius: .4rem;
        padding-left: .5rem;
    }
}
   



    .btnprimary{
        margin-top: 1rem;
        margin-left: 7rem; 
    }
          